mirrors:
  harbor.iccl.local:8088:
    endpoint:
      - "https://harbor.iccl.local:8088"

configs:
  harbor.iccl.local:8088:
    auth:
      username: "<HARBOR_ROBOT_ACCOUNT>"
      password: "<HARBOR_ROBOT_TOKEN>"
    tls:
      ca_file: /etc/rancher/k3s/certs/harbor-ca.crt
