# Copy this file to `systemd/ap-snmp-gateway.env` and fill in real values.
# This file is loaded by `systemd/ap-snmp-gateway.service`.

OPENWRT=192.168.1.1
AP_NAME=openwrt_ap
AP_IFACE=phy0-ap0
SNMP_COMMUNITY=public
SNMP_IFINDEX=3
INTERVAL=10
VM_URL=http://140.113.179.9:31888/api/v1/import/prometheus
